<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Datatables -->
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.11.4/css/dataTables.bootstrap5.min.css"
    />
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />

    <!-- Fontawesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- My CSS -->
    <link rel="stylesheet" href="assets/css/style.css" />

    <title>Kampus Merdeka</title>
  </head>
  <body>
    <div class="container">
      <div class="mx-lg-5 mx-2">
        <!-- Welcome -->
        <div class="row mt-5" id="welcome">
          <div class="col-lg-6 col-6">
            <div class="username">
              <h2>Welcome, <strong><%= admin %> </strong></h2>
            </div>
          </div>
          <div class="col-lg-6 col-6 text-end">
            <div class="logout">
              <a onclick="logoutButton()" class="btn"
                ><i class="fa-solid fa-right-from-bracket"></i> Logout</a
              >
            </div>
          </div>
        </div>
        <!-- End Welcome -->

        <!-- Cards -->
        <div class="row mt-4" id="cards">
          <div class="col-lg-3 mb-lg-0 mb-3">
            <div class="cards card-one">
              <p>Total Students</p>
              <h3><%= students.length %></h3>
              <i class="fa-solid fa-users" id="icon"></i>
            </div>
          </div>
          <div class="col-lg-3 mb-lg-0 mb-3">
            <div class="cards card-two">
              <p>Computer Science</p>
              <h3>
                <% const computerScience = students.filter((student) =>
                student.major == "Computer Science").length %> <%=
                computerScience %>
              </h3>
              <i class="fa-solid fa-users" id="icon"></i>
            </div>
          </div>
          <div class="col-lg-3 mb-lg-0 mb-3">
            <div class="cards card-three">
              <p>Information Systems</p>
              <h3>
                <% const informationSystems = students.filter((student) =>
                student.major == "Information Systems").length %> <%=
                informationSystems %>
              </h3>
              <i class="fa-solid fa-users" id="icon"></i>
            </div>
          </div>
          <div class="col-lg-3 mb-lg-0 mb-3">
            <div class="cards card-four">
              <p>Computer Network</p>
              <h3>
                <% const computerNetwork = students.filter((student) =>
                student.major == "Computer Network").length %> <%=
                computerNetwork %>
              </h3>
              <i class="fa-solid fa-users" id="icon"></i>
            </div>
          </div>
        </div>
        <!-- End Cards -->

        <!-- Datatables -->
        <div class="row mt-lg-5 mt-4 pb-2" id="tables">
          <div class="col-lg-12">
            <div class="card-table">
              <!-- Create Student -->
              <div class="tooltip-add-data mb-3">
                <a
                  type="button"
                  class="btn btn-primary"
                  data-bs-toggle="modal"
                  data-bs-target="#modal-add-student"
                  ><i class="fas fa-plus-circle"></i
                ></a>
                <span class="tooltiptext-add-data">Add Data</span>
              </div>
              <!-- End create -->

              <!-- Table -->
              <div class="table-responsive">
                <table class="table" id="mytables">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>NIM</th>
                      <th>Name</th>
                      <th>Email</th>
                      <th>Major</th>
                      <th>University</th>
                      <th>Image</th>
                      <th>Created by</th>
                      <th>Updated by</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% students.forEach((student, index) => { %>
                    <tr>
                      <td><%= index + 1 %></td>
                      <td><%= student.nim %></td>
                      <td><%= student.name %></td>
                      <td><%= student.email %></td>
                      <td><%= student.major %></td>
                      <td><%= student.university %></td>
                      <td>
                        <a
                          href="#"
                          style="text-decoration: none"
                          type="button"
                          data-bs-toggle="modal"
                          data-bs-target="#modal-show-image"
                          data-bs-name="<%= student.name %>"
                          data-bs-image="<%= student.image %>"
                          ><i class="fa-solid fa-eye"></i> image</a
                        >
                      </td>
                      <td><%= student.createAdminId %></td>
                      <td><%= student.updateAdminId %></td>
                      <td>
                        <a
                          href="#"
                          type="button"
                          class="btn btn-danger btn-sm"
                          data-bs-toggle="modal"
                          data-bs-target="#modal-delete-student"
                          data-bs-name="<%= student.name %>"
                          data-bs-id="<%= student._id %>"
                          ><i class="fa-solid fa-trash-can"></i></a
                        >&nbsp;
                        <a
                          href="#"
                          type="button"
                          class="btn btn-warning btn-sm"
                          data-bs-toggle="modal"
                          data-bs-target="#modal-edit-student"
                          data-bs-id="<%= student._id %>"
                          data-bs-nim="<%= student.nim %>"
                          data-bs-name="<%= student.name %>"
                          data-bs-email="<%= student.email %>"
                          data-bs-major="<%= student.major %>"
                          data-bs-university="<%= student.university %>"
                          data-bs-image="<%= student.image %>"
                          data-bs-create-admin-id="<%= student.createAdminId %>"
                          data-bs-update-admin-id="<%= student.updateAdminId %>"
                          ><i class="fa-solid fa-pen-to-square"></i
                        ></a>
                      </td>
                    </tr>
                    <% }) %>
                  </tbody>
                </table>
              </div>
              <!-- End Table -->
            </div>
          </div>
        </div>
        <!-- End Datatables -->
        <!-- Footer -->
        <div class="row mt-5 mb-4" id="footer">
          <div class="col-lg-12">
            <p>
              All rights reserved. Copyright © 2022,
              <strong>Kampus Merdeka.</strong>
            </p>
          </div>
        </div>
        <!-- End Footer -->
      </div>
    </div>

    <!-- Modal Add Data -->
    <div
      class="modal fade"
      id="modal-add-student"
      tabindex="-1"
      aria-labelledby="modal-add-studentLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content p-3 pb-1">
          <div class="modal-header">
            <h5 class="modal-title" id="modal-add-studentLabel">
              Add Data Student
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <!-- Form -->
            <div id="form-add-data">
              <div class="mb-3">
                <label for="nim" class="form-label">NIM</label>
                <input
                  type="text"
                  class="form-control"
                  id="add-nim"
                  name="nim"
                />
              </div>
              <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="add-name"
                  name="name"
                />
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input
                  type="email"
                  class="form-control"
                  id="add-email"
                  name="email"
                  aria-describedby="emailHelp"
                />
              </div>
              <div class="mb-3">
                <label for="major" class="form-label">Major</label>
                <select class="form-control" id="add-major" name="major">
                  <option>Computer Science</option>
                  <option>Information Systems</option>
                  <option>Computer Network</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="university" class="form-label">University</label>
                <input
                  type="text"
                  class="form-control"
                  id="add-university"
                  name="university"
                />
              </div>
              <div class="mb-3">
                <label for="image" class="form-label">Image</label>
                <input
                  type="file"
                  class="form-control"
                  id="add-image"
                  name="image"
                />
              </div>
              <input type="hidden" value="<%= admin %>" name="createAdminId" />
            </div>
            <!-- End Form -->
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button type="button" class="btn btn-primary" id="btn-add-data">
              Save
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- End Modal Add Data -->

    <!-- Modal Show Image -->
    <div
      class="modal fade"
      id="modal-show-image"
      tabindex="-1"
      aria-labelledby="modal-show-imageLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content p-3 pb-1">
          <div class="modal-header">
            <h5 class="modal-title" id="modal-show-imageLabel">Show Image</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <img
              src=""
              alt="student-image"
              class="img-fluid rounded mx-auto d-block py-2"
              width="100%"
            />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- End Modal Show Image-->

    <!-- Modal Delete Data-->
    <div
      class="modal fade"
      id="modal-delete-student"
      tabindex="-1"
      aria-labelledby="modal-delete-studentLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modal-delete-studentLabel">
              Delete Data
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <p>Are you sure to delete the data:</p>
            <input type="hidden" name="id" id="id-delete" />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button type="button" class="btn btn-danger" id="btn-delete-data">
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- End Modal Delete Data-->

    <!-- Modal Edit Data -->
    <div
      class="modal fade"
      id="modal-edit-student"
      tabindex="-1"
      aria-labelledby="modal-edit-studentLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content p-3 pb-1">
          <div class="modal-header">
            <h5 class="modal-title" id="modal-edit-studentLabel">
              Edit Data Student
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <!-- Form -->
            <div id="form-edit-data">
              <div class="mb-3">
                <label for="nim" class="form-label">NIM</label>
                <input
                  type="text"
                  class="form-control"
                  id="edit-nim"
                  name="nim"
                />
              </div>
              <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="edit-name"
                  name="name"
                />
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input
                  type="email"
                  class="form-control"
                  id="edit-email"
                  name="email"
                  aria-describedby="emailHelp"
                />
              </div>
              <div class="mb-3">
                <label for="major" class="form-label">Major</label>
                <select class="form-control" id="edit-major" name="major">
                  <option>Computer Science</option>
                  <option>Information Systems</option>
                  <option>Computer Network</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="university" class="form-label">University</label>
                <input
                  type="text"
                  class="form-control"
                  id="edit-university"
                  name="university"
                />
              </div>
              <div class="mb-3">
                <label for="image" class="form-label">Image</label>
                <input
                  type="file"
                  class="form-control"
                  id="edit-image"
                  name="image"
                />
              </div>
              <input type="hidden" name="edit-id" id="edit-id" />
              <input type="hidden" name="image-old" id="edit-image-old" />
              <input
                type="hidden"
                name="create-admin-id"
                id="edit-create-admin-id"
              />
              <input
                type="hidden"
                name="update-admin-id"
                id="edit-update-admin-id"
              />
            </div>
            <!-- End Form -->
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button type="button" class="btn btn-primary" id="btn-edit-data">
              Save
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- End Modal Edit Data -->

    <!-- Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>

    <!-- Sweetalert2 -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
      function getCookie(name) {
        // Split cookie string and get all individual name=value pairs in an array
        var cookieArr = document.cookie.split(";");

        // Loop through the array elements
        for (var i = 0; i < cookieArr.length; i++) {
          var cookiePair = cookieArr[i].split("=");

          /* Removing whitespace at the beginning of the cookie name
        and compare it with the given string */
          if (name == cookiePair[0].trim()) {
            // Decode the cookie value and return
            return decodeURIComponent(cookiePair[1]);
          }
        }

        // Return null if not found
        return null;
      }

      function sleep(ms) {
        return new Promise((resolve) => setTimeout(resolve, ms));
      }

      let modalShowImage = document.getElementById("modal-show-image");
      modalShowImage.addEventListener("show.bs.modal", function (event) {
        // Button that triggered the modal
        let button = event.relatedTarget;
        // Extract info from data-bs-* attributes
        let studentImage = button.getAttribute("data-bs-image");
        let studentName = button.getAttribute("data-bs-name");
        // Update the modal's content.
        let modalTitle = modalShowImage.querySelector(".modal-title");
        let showImage = modalShowImage.querySelector(".modal-body img");

        modalTitle.textContent = "Show Image: " + studentName;
        showImage.src = studentImage;
      });

      let modalDeleteStudent = document.getElementById("modal-delete-student");
      modalDeleteStudent.addEventListener("show.bs.modal", function (event) {
        // Button that triggered the modal
        let button = event.relatedTarget;
        // Extract info from data-bs-* attributes
        let studentId = button.getAttribute("data-bs-id");
        let studentName = button.getAttribute("data-bs-name");
        // Update the modal's content.
        let modalBody = modalDeleteStudent.querySelector(".modal-body p");
        let idDelete = modalDeleteStudent.querySelector(
          ".modal-body #id-delete"
        );

        modalBody.textContent =
          "Are you sure to delete the data: " + studentName + " ?";
        idDelete.value = studentId;
      });

      let modalEditStudent = document.getElementById("modal-edit-student");
      modalEditStudent.addEventListener("show.bs.modal", function (event) {
        // Button that triggered the modal
        let button = event.relatedTarget;
        // Extract info from data-bs-* attributes
        let studentId = button.getAttribute("data-bs-id");
        let studentNim = button.getAttribute("data-bs-nim");
        let studentName = button.getAttribute("data-bs-name");
        let studentEmail = button.getAttribute("data-bs-email");
        let studentMajor = button.getAttribute("data-bs-major");
        let studentUniversity = button.getAttribute("data-bs-university");
        let studentImage = button.getAttribute("data-bs-image");
        let studentCreateAdminId = button.getAttribute(
          "data-bs-create-admin-id"
        );
        let studentUpdateAdminId = button.getAttribute(
          "data-bs-update-admin-id"
        );
        // Update the modal's content.
        let inputId = modalEditStudent.querySelector(".modal-body #edit-id");
        let inputNim = modalEditStudent.querySelector(".modal-body #edit-nim");
        let inputName = modalEditStudent.querySelector(
          ".modal-body #edit-name"
        );
        let inputEmail = modalEditStudent.querySelector(
          ".modal-body #edit-email"
        );
        let inputMajor = modalEditStudent.querySelector(
          ".modal-body #edit-major"
        );
        let inputUniversity = modalEditStudent.querySelector(
          ".modal-body #edit-university"
        );
        let inputImageOld = modalEditStudent.querySelector(
          ".modal-body #edit-image-old"
        );
        let inputCreateAdminId = modalEditStudent.querySelector(
          ".modal-body #edit-create-admin-id"
        );
        let inputUpdateAdminId = modalEditStudent.querySelector(
          ".modal-body #edit-update-admin-id"
        );

        inputId.value = studentId;
        inputNim.value = studentNim;
        inputName.value = studentName;
        inputEmail.value = studentEmail;
        inputMajor.value = studentMajor;
        inputUniversity.value = studentUniversity;
        inputImageOld.value = studentImage;
        inputCreateAdminId.value = studentCreateAdminId;
        inputUpdateAdminId.value = studentUpdateAdminId;
      });

      document
        .getElementById("btn-add-data")
        .addEventListener("click", async (e) => {
          let image = document.getElementById("add-image").files;
          let nim = document.getElementById("add-nim").value;
          let name = document.getElementById("add-name").value;
          let email = document.getElementById("add-email").value;
          let major = document.getElementById("add-major").value;
          let university = document.getElementById("add-university").value;
          let createAdminId = "<%= admin %>";

          let formData = new FormData();
          formData.append("image", image[0]);
          formData.append("nim", nim);
          formData.append("name", name);
          formData.append("email", email);
          formData.append("major", major);
          formData.append("university", university);
          formData.append("createAdminId", createAdminId);

          let config = {
            method: "POST",
            body: formData,
            headers: {
              accept: "application/json",
              Authorization: `${getCookie("tokenType")} ${getCookie("token")}`,
            },
          };
          await fetch("/api/students/", config)
            .then((res) => res.json())
            .then((data) => {
              if (data.statusCode === 200) {
                Swal.fire({
                  position: "top-end",
                  icon: "success",
                  title: "Successfully added data :)",
                  showConfirmButton: false,
                  timer: 1000,
                });
                sleep(1000).then(() => {
                  window.location.reload();
                });
              } else if (data.statusCode === 402) {
                Swal.fire({
                  icon: "error",
                  title: "Oops...",
                  text: "Please fill all the fields!",
                });
              } else if (data.statusCode === 415) {
                Swal.fire({
                  icon: "error",
                  title: "Oops...",
                  text: "Invalid image type!",
                });
              } else {
                Swal.fire({
                  icon: "error",
                  title: "Oops...",
                  text: "Failed to add data :(",
                });
              }
            });
        });

      document
        .getElementById("btn-delete-data")
        .addEventListener("click", async (e) => {
          const id = document.getElementById("id-delete").value;

          let config = {
            method: "DELETE",
            headers: {
              accept: "application/json",
              Authorization: `${getCookie("tokenType")} ${getCookie("token")}`,
            },
          };
          let url = `/api/students/${id}`;
          await fetch(url, config)
            .then((res) => res.json())
            .then((data) => {
              if (data.statusCode === 200) {
                Swal.fire({
                  position: "top-end",
                  icon: "success",
                  title: "Successfully deleted data :)",
                  showConfirmButton: false,
                  timer: 1000,
                });
                sleep(1000).then(() => {
                  window.location.reload();
                });
              } else {
                Swal.fire({
                  icon: "error",
                  title: "Oops...",
                  text: "Failed to delete data :(",
                });
              }
            });
        });

      document
        .getElementById("btn-edit-data")
        .addEventListener("click", async (e) => {
          const id = document.getElementById("edit-id").value;
          const nim = document.getElementById("edit-nim").value;
          const name = document.getElementById("edit-name").value;
          const email = document.getElementById("edit-email").value;
          const major = document.getElementById("edit-major").value;
          const university = document.getElementById("edit-university").value;
          let image = document.getElementById("edit-image").files;
          const imageOld = document.getElementById("edit-image-old").value;
          const createAdminId = document.getElementById(
            "edit-create-admin-id"
          ).value;
          const updateAdminId = document.getElementById(
            "edit-update-admin-id"
          ).value;

          let formData = new FormData();
          formData.append("image", image[0]);
          formData.append("nim", nim);
          formData.append("name", name);
          formData.append("email", email);
          formData.append("major", major);
          formData.append("university", university);
          formData.append("imageOld", imageOld);
          formData.append("updateAdminId", "<%= admin %>");

          let config = {
            method: "PUT",
            body: formData,
            headers: {
              accept: "application/json",
              Authorization: `${getCookie("tokenType")} ${getCookie("token")}`,
            },
          };
          let url = `/api/students/${id}`;
          await fetch(url, config)
            .then((res) => res.json())
            .then((data) => {
              if (data.statusCode === 200) {
                Swal.fire({
                  position: "top-end",
                  icon: "success",
                  title: "Successfully update data :)",
                  showConfirmButton: false,
                  timer: 1000,
                });
                sleep(1000).then(() => {
                  window.location.reload();
                });
              } else if (data.statusCode === 415) {
                Swal.fire({
                  icon: "error",
                  title: "Oops...",
                  text: "Invalid image type!",
                });
              } else {
                Swal.fire({
                  icon: "error",
                  title: "Oops...",
                  text: "Failed to update data :(",
                });
              }
            });
        });

      function logoutButton() {
        Swal.fire({
          title: "Are you sure?",
          icon: "warning",
          confirmButtonColor: "#DC3545",
          confirmButtonText: "Logout now!",
          showCancelButton: true,
          cancelButtonColor: "#6C757D",
        }).then((result) => {
          if (result.isConfirmed) {
            window.location.href = "/logout";
          }
        });
      }
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.4/js/dataTables.bootstrap5.min.js"></script>

    <script>
      $(document).ready(function () {
        $("#mytables").DataTable({
          // bPaginate: true,
          // bLengthChange: false,
          // bFilter: true,
          // bInfo: false,
          // bAutoWidth: false,
        });
      });
    </script>
  </body>
</html>
